@import 'vant/es/toast/style';
@import 'vant/es/dialog/style';
@import 'vant/es/notify/style';
@import 'vant/es/image-preview/style';

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
